/* src/components/Navbar.css */
.navbar {
    height: 60px;
    background-color: #1e1f23;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px; /* only horizontal padding */
    font-weight: bold;
    font-size: 1.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-title {
    margin: 0;
    fontSize: '1.5rem';
}

